#outerWrapper {
  align-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  /* background-color: antiquewhite; */
}
#innerWrapper {
  margin: auto;
  /* background-color: aquamarine; */
  width: 50%;
}
#profileContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#aboutMe,
#profileDescription {
  text-align: start;
}

#profileImg {
  object-fit: cover;
  object-position: 0% 30%;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin: auto;
  border: 5px solid #55acee;
}

#profilePicture {
  margin: auto;
}

.content {
  color: #ccd6dd;
}
