#navWrapper {
  z-index: 5;
  float: right;
  top: 35%;
  margin-right: 100px;
  position: sticky;
  height: 100%;
}
#linkContainer {
  width: fit-content;
  height: fit-content;
  align-content: center;
  text-align: center;
}
#navList {
  display: inline-block;
  align-items: center;
}
.navLinkItem {
  list-style: none;
  background-color: #66757f;
  padding: 0;
  margin: 0;
}
.navLinkItem:hover {
  background-color: #55acee;
  cursor: pointer;
}
.activeScroll .navItem {
  background-color: #55acee;
  height: 100%;
}
.navItem {
  padding: 15px 20px;
  height: 100%;
  color: #ccd6dd;
  font-size: large;
}
