.contactContainer {
  display: flex;
  flex-direction: row;
  width: fit-content;
  background-color: #66757f;
  padding: 5px;
  border-radius: 15px;
  margin: auto;
}
.contactIcon {
  height: 50px;
}
.contactContainer:hover {
  background-color: #55acee;
  cursor: pointer;
}
.contactString {
  margin-left: 15px;
  color: #e1e8ed;
  font-size: large;
}
a {
  text-decoration: none;
}
